.questionInputContainer {
    height: 120px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-bottom: 50px;
}

.questionInputTextArea {
    width: 100%;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
    margin-right: 12px;
}

.questionInputSendButtonContainer {
    position: absolute;
    right: 24px;
    bottom: 20px;
}

.questionInputSendButton {
    width: 24px;
    height: 23px;
}

.questionInputSendButtonDisabled {
    /* opacity: 0.4; */
    width: 24px;
    height: 23px;
    /* background: none; */
    color: #d65501;
}

.questionInputBottomBorder {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0%;
    bottom: 0%;
    /* background: radial-gradient(106.04% 106.06% at 100.1% 90.19%,#0F6CBD 33.63%,#8DDDD8 100%); */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.questionInputOptionsButton {
    cursor: pointer;
    width: 27px;
    height: 30px;
}

.goBtn {
    display: flex;
    width: 100px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F06D0C;
    color:  #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    border: none;
    line-height: 22px; /* 91.667% */
}
.formControl {
    width: 100%;
    border-radius: 8px;
    border: 1px solid  #EFEFEF;
    background: #FFF;
    padding: 10px 30px 10px 15px;
    width: 100%;
}